@import '../../../../style/common.scss';
.catalog-container {
    .catalog-content {
        .catalog-model {
            width: 100%;
            height: 100%;
            padding-left: 10px;
            position: relative;
            .react-loading {
        	    position: absolute;
			    top: 41%;
			    left: 41%;
            }
            .loading-active {
                display: block;
            }
            .loading-unActive {
                display: none;
            }
        }
    }
}