$globalDarkBackgroundColor: #2d3237; // 全局深色背景颜色
$globalGrayBackgroundColor: #484848; // 全局灰色背景颜色
$catalogWidth: 340px; // catalog的默认宽度
$catalogSidebarWidth: 60px; // catalog左侧导航的默认宽度
$catalogContentWidth: 280px; // catalog右侧内容的默认宽度
$catalogMarkInfoColor: #282727; // catalog左侧sidebar,鼠标hover时，提示信息的背景颜色
$goldColor: #ffc034; // 全局字体active的颜色
$sidebarMenuActiveBackgroundColor: #1f2326; // 鼠标点击catalog左侧sidebar时，有下拉选项的背景颜色
$catalogScrollbarHeight: 400px;// catalog滚动条区域的最大高度